# Tệp/Thư mục tạm thời của Visual Studio (VS) và Project

# 1. Thư mục tạm thời của Visual Studio và IDE
.vs/
[Dd]ebug/
[Rr]elease/
**/[Bb]in/
**/[Oo]bj/

# 2. Các tệp tạm thời của VS 
*.suo
*.user

# 3. Tệp tạm thời của SQLite3
*.db.lock
*.ide-shm
*.ide-wal

# 4. Tệp thực thi và debug
*.exe
*.pdb

# 5. Tệp cơ sở dữ liệu
*.sqlite