<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net461" />
  <package id="DotNetProjects.WpfToolkit.Input" version="6.1.94" targetFramework="net461" />
  <package id="DotNetProjects.WpfToolkit.Layout" version="6.1.94" targetFramework="net461" />
  <package id="DotNetProjects.WpfToolkit.Themes" version="6.1.94" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Core" version="0.9.8" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
</packages>